# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Config local
.env

# Editor
.vscode/

# Dependências futuras (caso use Node)
node_modules/

# Build
dist/
build/

posts/
/imgs/


#ignore just in the first commit
script.js

style.css

README.md

SFX/

tests/