/*corpo do titulo?*/
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 3px;
   
}


/*titulo do post*/
.titulo h2{
    font-weight: 200;
    margin-left: 60px ;
    margin-right: 60px ;
}
    
/*tempo de leitura*/

.titulo span {
    align-self: flex-end;   /* Alinha especificamente  o tempo na lateral direita */
    font-size: 0.9rem;
    font-weight: 200;
}

.texto{
    margin-right: 100px;
    margin-left: 100px;
    letter-spacing: 2px;
    font-weight: 200;
}

h2{
    margin-right: 50px;
    margin-left: 50px;
    letter-spacing: 3px;
    font-weight: 500;
}

h3{
margin-top:50px;
margin-right: 50px;
margin-left: 50px;
font-weight: 200;
align-items: center;
letter-spacing: 2px;
}

.bold{font-weight: 500;
letter-spacing: 4px;
margin-left: 70px;
margin-top: 30px;

}

span{
    font-weight: 600;
    letter-spacing: 2px;
    font-size: x-large;
}











