:root {
    --bg-main: #0f0202;
    --bg-secondary: #1a0505;
    --red-main: #5a0f0f;
    --red-strong: #8b1e1e;
    --gold: #c9a14a;
    --text: #f5e6c8;
}


*{
    margin: 0;
    font-family: "Jersey 10", sans-serif;  
}


html{
    scroll-behavior: smooth;
    font-size: 20px; /* try 18–20px for Jersey 10 */   
}


.container{
    background-color: blue;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 29px;
    margin-top: 100px;
}


h1{
    letter-spacing: 2px;

}


input{
    padding: 5px;
    margin: 3px;
    border: var(--gold) 2px 3px 10px;
    border-radius: 8px;
    letter-spacing: 2px;
    box-shadow: #8b1e1e solid 2px 10px 10px;
}

button{
    padding: 4px 40px;
    transition: all 0.3s ease;
    border-radius: 8px;
    margin-top: 6px;
    letter-spacing: 2px;
}


button:hover{
    transform: translateY(-4px);
    transition: all 0.3 ease;
}